# docker-compose.yml
version: "3.8"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: smartfin
      POSTGRES_PASSWORD: smartfinpass
      POSTGRES_DB: smartfin
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  db-data:
